body {
  margin: 0;
  background: linear-gradient(#06061c, #06061c, #06061c, #0d212e, #18342f);
}
body > div {
  *zoom: 1;
  width: auto;
  max-width: 1600px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 90%;
}
body > div:before,
body > div:after {
  content: '';
  display: table;
}
body > div:after {
  clear: both;
}
h1,
h2,
h3 {
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', sans-serif;
  font-weight: lighter;
  margin: 0;
  color: #fff;
}
h1.title img,
h2.title img {
  width: 1em;
  margin-bottom: -0.15em;
  margin-right: 0.1em;
}
svg.strokes {
  margin: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 200%;
  opacity: 0.7;
}
.hero {
  outline: none;
  color: #fff;
  top: 0;
  left: 0;
  height: 100vh;
  background-image: url("img/bg.svg");
}
.hero .header {
  z-index: 1;
  width: auto;
  margin: 50px 0 0 0;
}
.hero .header h1 {
  font-size: 6em;
}
.hero .introduction {
  font-family: 'Georgia', serif;
  max-width: 40em;
  font-size: 1.6em;
  font-style: italic;
  margin: 0;
}
.slides {
  margin-top: 50px;
  color: #fff;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', sans-serif;
  font-size: 1.7em;
}
.slides > section {
  min-height: 100vh;
  outline: none;
}
.slides h2 {
  font-size: 2.2em;
}
.slides .design .examples,
.slides .coding .examples {
  max-height: 50vh;
  overflow: hidden;
  transition: max-height 2s ease-in;
}
.slides .design .examples img,
.slides .coding .examples img {
  width: 100%;
}
.slides .design .examples ul,
.slides .coding .examples ul {
  list-style: none;
  padding: 0;
}
.slides .design a,
.slides .coding a,
.slides .design a:visited,
.slides .coding a:visited,
.slides .design a:hover,
.slides .coding a:hover {
  color: #fff;
  text-decoration: none;
  font-style: italic;
  font-family: 'Georgia', serif;
  font-size: 0.8em;
  opacity: 0.8;
}
.slides .design .exbtn,
.slides .coding .exbtn {
  display: block;
}
.slides .design .shbtn,
.slides .coding .shbtn {
  display: none;
  margin-top: -1.2em;
}
.slides .design.expanded .examples,
.slides .coding.expanded .examples {
  max-height: 300vh;
}
.slides .design.expanded .exbtn,
.slides .coding.expanded .exbtn {
  display: none;
}
.slides .design.expanded .shbtn,
.slides .coding.expanded .shbtn {
  display: block;
}
.footer {
  bottom: 0;
  height: 20vh;
  width: 100%;
  z-index: 2;
  padding: 2em 0;
  outline: none;
}
.footer i {
  color: #f00;
  font-size: 1.5em;
  font-style: normal;
  vertical-align: sub;
}
.footer a,
.footer a:visited {
  color: #fff;
}
.footer h3 {
  font-size: 1.6em;
  margin: 0.2em 0 0 0.5em;
}
.footer ul {
  padding-left: 1.5em;
}
.footer li {
  list-style: none;
  text-decoration: none;
}
.footer li a::before {
  content: '>';
  margin-right: 0.4em;
  opacity: 0.8;
  transition: all 0.2s ease-out;
}
.footer li a:hover::before {
  margin-right: 0.1em;
  opacity: 1;
}
.footer li a,
.footer li a:hover,
.footer li a:visited {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', sans-serif;
  text-decoration: none;
}
.footer li a p,
.footer li a:hover p,
.footer li a:visited p {
  text-decoration: underline;
  display: inline;
}
.footer > div {
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.footer .links {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
.footer .links:before,
.footer .links:after {
  content: '';
  display: table;
}
.footer .links:after {
  clear: both;
}
.footer .links:last-child {
  margin-right: 0%;
}
.footer .contact {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
.footer .contact:before,
.footer .contact:after {
  content: '';
  display: table;
}
.footer .contact:after {
  clear: both;
}
.footer .contact:last-child {
  margin-right: 0%;
}
.footer .box {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.footer .box:before,
.footer .box:after {
  content: '';
  display: table;
}
.footer .box:after {
  clear: both;
}
.footer .box:last-child {
  margin-right: 0%;
}
.footer .box p {
  margin: 0.4em 0.6em;
  color: #fff;
  font-size: 1.2em;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', sans-serif;
}
.notice {
  width: 100%;
  padding: 0.5em 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  font-family: monospace;
  margin-bottom: 2em;
}
nav {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 10vh;
  top: 40vh;
}
nav .back {
  display: none;
}
@media (max-width: 1650px) {
  nav {
    width: 50px;
  }
}
nav > div {
  border-radius: 12px;
  border: 2px solid #fff;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 1vh;
  overflow: hidden;
}
nav > div.small {
  width: 8px;
  height: 8px;
}
nav > div.big {
  width: 12px;
  height: 12px;
}
nav > div div {
  height: 100%;
  width: 100%;
  background-color: #fff;
  transform: scale(0);
  transition: transform 0.4s ease-out;
}
nav > div.selected div {
  transform: scale(1);
}
.nojs > nav {
  display: none;
}
.nojs .design .examples,
.nojs .coding .examples {
  max-height: 100vh;
  overflow: scroll;
}
.nojs .exbtn {
  display: none;
}
