body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background: #fff;
  text-align: center;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', sans-serif;
}
.wrapper {
  width: 100%;
}
* {
  box-sizing: border-box;
  transition: outline-color 0.4s ease-out;
  outline: #d32f2f auto 0;
}
*:focus {
  outline: #ffa726 auto 2px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: justify;
  color: #333;
  font-weight: 400;
}
.nojs .jscritical {
  display: none;
}
section {
  width: 100%;
  min-height: 30vh;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}
section > * {
  max-width: 1400px;
  display: inline-block;
}
section.header {
  background-color: #111;
  height: 100vh;
}
section.header * {
  position: absolute;
}
section.header img {
  max-width: 80px;
  margin-top: 50vh;
  margin-bottom: 30vh;
  transform: translateY(-50%);
}
section.header .lines {
  max-width: 1000vw;
  width: 100%;
  height: 100%;
  display: block;
}
section.header .arrow {
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: 3%;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}
section.header .arrow:hover {
  opacity: 1;
  padding-bottom: 10px;
}
section.header .arrow polyline {
  fill: none;
  stroke: #ddd;
  stroke-width: 1px;
}
section.header .lines * {
  stroke-width: 2px;
  stroke: #fff;
}
section.header .lines *:nth-of-type(1) {
  stroke: #9c27b0;
}
section.header .lines *:nth-of-type(2) {
  stroke: #03a9f4;
}
section.header .lines *:nth-of-type(3) {
  stroke: #ffc107;
}
section.header .lines *:nth-of-type(4) {
  stroke: #4caf50;
}
section.intro {
  padding: 1.9em 3em;
  box-sizing: border-box;
}
section.intro h2 {
  font-weight: lighter;
  font-size: 2.8em;
  margin: 0.8em 0 0.4em 0;
  width: 100%;
}
section.intro p {
  font-size: 2.1em;
  margin-top: 0;
  line-height: 1.4;
  margin: 0 0 1.9em 0;
}
section.me {
  background-color: #111;
  padding: 2em 0 4.2em 0;
  font-size: 1.25em;
}
section.me h3 {
  font-size: 1.9em;
  font-weight: 300;
  margin: 1em 0 0 0;
  color: #fff;
  background-color: #333;
  padding: 0.1em 0.4em;
}
section.me h4 {
  font-size: 1.35em;
  margin: 0.8em 0 0 0;
  color: #eee;
}
section.me .box {
  text-align: left;
  min-width: 300px;
  display: inline-table;
  width: 49%;
  margin: 0 0.5%;
}
section.me .box > .box {
  padding: 0 0.5em;
  box-sizing: border-box;
}
section.me ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin: 0.8em 0 0 0;
}
section.me li {
  list-style: none;
  line-height: 1.7;
  color: #fff;
}
section.me li b {
  font-weight: 600;
}
section.me li::before {
  content: '-  ';
}
section.projects > div {
  width: 100%;
  max-width: none;
  display: block;
}
@media (min-aspect-ratio: 1/1) {
  section.projects > div {
    min-height: 30vh;
  }
}
@media (max-aspect-ratio: 1/1) {
  section.projects > div {
    min-height: 100vh;
  }
}
section.projects .insider {
  background-color: #ffc107;
}
section.projects .albion {
  background-color: #03a9f4;
}
section.projects .rest {
  background-color: #4caf50;
}
section.projects .styx {
  background-color: #9c27b0;
}
section.contactme .conversation {
  padding: 2em 0;
  width: 100%;
  max-width: none;
  background: #000;
  display: block;
}
section.keepreading p {
  text-align: center;
}
