html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  height: 0;
  width: 0;
}
body > input {
  display: none;
}
a,
a:visited {
  color: inherit;
}
.en,
.fr,
.ko {
  display: none;
}
#language-en:checked ~ main .en,
#language-fr:checked ~ main .fr,
#language-ko:checked ~ main .ko {
  display: unset;
}
#change-theme ~ main {
  --background: #fff;
  --secondary-background: #f9f9f9;
  --primary: #252525;
  --secondary: #252525;
  --ternary: #d0d0d0;
}
#change-theme ~ main .light {
  display: unset;
}
#change-theme ~ main .dark {
  display: none;
}
#change-theme ~ main .name {
  --accent: #f03e3e;
}
#change-theme ~ main .work {
  --accent: #fcc419;
}
#change-theme ~ main .school {
  --accent: #4c6ef5;
}
#change-theme ~ main .speak {
  --accent: #51cf66;
}
#change-theme:checked ~ main {
  --background: #000;
  --secondary-background: #0a0a0a;
  --primary: #fff;
  --secondary: #fff;
  --ternary: #616161;
}
#change-theme:checked ~ main .light {
  display: none;
}
#change-theme:checked ~ main .dark {
  display: unset;
}
#change-theme:checked ~ main .name {
  --accent: #e03131;
}
#change-theme:checked ~ main .work {
  --accent: #ffd43b;
}
#change-theme:checked ~ main .school {
  --accent: #339af0;
}
#change-theme:checked ~ main .speak {
  --accent: #69db7c;
}
main {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background);
}
main > * {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  font-family: 'Red Hat Display', 'Noto Sans KR', Roboto, Arial, sans-serif;
  font-size: 2.6em;
  letter-spacing: 0.012em;
  line-height: 1.25em;
  margin-left: 20px;
  margin-right: auto;
  z-index: 1;
}
h3 em {
  font-style: normal;
}
h3 em,
h3 a,
h3 label {
  color: var(--accent) !important;
}
main {
  overflow: hidden;
}
header {
  height: 100vh;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--primary);
}
header label {
  cursor: pointer;
}
header a {
  text-decoration: none;
}
header #bg-icon {
  position: absolute;
  fill: none;
  stroke: var(--primary);
  stroke-width: 1px;
  opacity: 0.12;
  width: 100vmax;
  height: auto;
  margin-right: -50vw;
}
header #icon {
  align-self: start;
  fill: var(--primary);
  height: 36px;
  margin-top: 1em;
  position: absolute;
  stroke-width: 0;
  width: 36px;
}
header #lines {
  position: absolute;
  height: 400px;
  width: 100%;
  overflow: overlay;
  pointer-events: none;
  z-index: 0;
}
header #intro {
  display: inline-block;
  max-width: 800px;
}
header ul {
  list-style: none;
  padding: 0;
  font-weight: lighter;
}
header ul li {
  display: inline-block;
  margin-right: 1em;
}
header ul li .text {
  margin-bottom: -0.2em;
}
header ul li .links {
  color: var(--ternary);
}
header ul svg {
  height: inherit;
  width: inherit;
  margin-bottom: var(--mt);
}
header ul path {
  fill: var(--secondary);
  stroke: none;
}
