extends layout.pug

append head
  title Grégoire Geis - 404
  
  link(rel='stylesheet', href='/404.css')

append body
  section#me
    h1#big 4 0 4
    h2 It looks like the page you're trying to reach does not exist.
    h3 Wanna go back #[a(href='/') to the home page]?
