extends layout.pug

append head
  title Grégoire Geis - 404
  
  meta(http-equiv='refresh', content='0; url=/')

append body
    h1 4 0 4
    h2 It looks like the page you're trying to reach does not exist.
    h3 Wanna go back #[a(href='/') to the home page]?
