@import 'common.styl'

#big
  color: #fff
  margin: .4em 0
  text-shadow: rgba(0, 0, 0, .4) -5px 5px 20px
  font-family: 'Lato Black', sans-serif
  font-size: 15em
  margin-left: .1em

  +desktop()
    font-size: 20em

h1, h2, h3
  text-align: center

a
  text-decoration: underline
