
/////////////////////////////////////////////////////////////////////////////////////////
// VARIABLES ////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

$black = black
$sans-serif = 'Open Sans', 'Segoe UI', 'Roboto', sans-serif

$accent1 = #f7d231
$accent2 = #26c6da
$accent3 = #2ab27b
$accent4 = #e32072


/////////////////////////////////////////////////////////////////////////////////////////
// FUNCTIONS ////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

landscape()
  @media (min-aspect-ratio: 1/1)
    {block}

portrait()
  @media (max-aspect-ratio: 1/1)
    {block}

mobile()
  @media (max-width: 1000px), (max-aspect-ratio: 1)
    {block}

desktop()
  @media (min-width: 1000px), (min-aspect-ratio: 1)
    {block}



/////////////////////////////////////////////////////////////////////////////////////////
// COMMON ///////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

.accent-1
  color: $accent1
.accent-2
  color: $accent2
.accent-3
  color: $accent3
.accent-4
  color: $accent4

body
  margin: 0
  width: 100%
  min-height: 100%
  background: white
  text-align: center
  font-family: $sans-serif
  overflow-x: hidden

  +mobile()
    font-size: 1.5em

.wrapper
  width: 100%

a, a:visited
  color: inherit
  text-decoration: none

.underline
  text-decoration: underline
  text-decoration-color: currentColor

*
  box-sizing: border-box
  transition: outline-color .4s ease-out
  outline: #D32F2F auto 0

  &:focus
    outline: #FFA726 auto 2px

p, h1, h2, h3, h4, h5, h6
  text-align: justify
  font-weight: 400

section
  width: 100%
  margin: 0
  min-height: 100vh
  text-align: center
  display: block
  overflow: hidden
  cursor: default

.subsection
  display: block
  text-align: inherit
  max-width: none

  & > *
    max-width: 800px
    display: inline-block
    width: 100%

.arrow-wrapper
  width: 100%!important
  max-width: none

.arrow
  transition: all .3s ease-in-out
  opacity: .8
  animation: bounce 1s ease-in-out
  cursor: pointer
  width: auto

  @keyframes bounce
    0%
      margin-bottom: 0
    25%
      margin-bottom: 12px
    50%
      margin-bottom: 0
    75%
      margin-bottom: 12px
    100%
      margin-bottom: 0

  &:hover
    opacity: 1
    margin-bottom: 10px

  & polyline
    fill: none
    stroke: #777
    stroke-width: 1px

  +mobile()
    transform: scale(2)


/////////////////////////////////////////////////////////////////////////////////////////
// HEADER ///////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

section#header
  min-height: 100vh
  background: #000
  color: white
  font-family: Lato, $sans-serif
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  @media (max-width: 1100px)
      font-size: 1.5em

  .hero
    position: absolute
    width: 100%
    height: 100%
    z-index: 0
    overflow: hidden
    max-width: none
    max-height: none

    svg
      width: 100vmax
      height: 100vmax
      stroke: crimson
      stroke-width: .25
      stroke-dasharray: 3 1
      transform: rotate3d(1,1,1,20deg)
      transform-origin: center
      left: 0
      right: 0
      top: 0
      bottom: 0
      position: absolute
      fill: transparent

    @media (min-height: 800px) and (min-aspect-ratio: 1)
      svg
        margin-top: -30vh

  .logo
    max-width: 128px
    margin: 1.2em
    z-index: 1
    position: relative
    width: 64px

    +mobile()
      width: 128px

    +desktop()
      margin-bottom: 10px

  .social
    width: 100%

    a
      display: inline-block
      vertical-align: super
      transition: opacity .3s

  .icon
      box-sizing: content-box
      transition: transform .4s ease, opacity .4s ease
      max-width: 48px
      width: 24px
      padding: .5em
      margin: 1em .5em
      opacity: .8

      +mobile()
        width: 52px
        padding: .5em .1em

      &:hover
          transform: scale(1.2)
          opacity: .9



  .summary
    text-transform: uppercase
    font-family: Nunito, $sans-serif
    letter-spacing: .5em
    font-size: 1.6em
    font-weight: lighter
    opacity: .9
    max-width: none

    animation: title-appear .6s ease-out
    display: inline

    background: linear-gradient(to right, transparent 50%, currentColor 50%)
    background-size: 200%
    background-position: 0 0

    @keyframes title-appear
      0%
        background-position: 100% 0
      20%
        background-position: 100% 0
      100%
        background-position: 0 0

  .arrow-wrapper
    bottom: 0
    position: absolute
    left: 0

    .arrow
      display: inline-block

    polyline
      stroke: #ddd
