
/////////////////////////////////////////////////////////////////////////////////////////
// VARIABLES & COLORS ///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

$monospace  = 'Ubuntu Mono', 'Inconsolata', monospace
$sans-serif = 'Open Sans', 'Segoe UI', 'Roboto', sans-serif

$accent1 = #f7d231
$accent2 = #26c6da
$accent3 = #2ab27b
$accent4 = #e32072

body
  --primary: #111
  --secondary: #444

body.dark
  --primary: #eee
  --secondary: #ccc


/////////////////////////////////////////////////////////////////////////////////////////
// FUNCTIONS ////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

dark()
  /body.dark {selector()}
    {block}

theme(prop, light, dark)
  /body.dark {selector()}
    {prop}: dark
  {prop}: light

focused()
  /section.focused{selector()}
    {block}

landscape()
  @media (min-aspect-ratio: 1/1)
    {block}

portrait()
  @media (max-aspect-ratio: 1/1)
    {block}

mobile()
  @media (max-width: 1000px), (max-aspect-ratio: 1)
    {block}

desktop()
  @media (min-width: 1000px), (min-aspect-ratio: 1)
    {block}

hoverable(colorr, time=.4s, display=inline-block, elevate=true)
  background: linear-gradient(to right, transparent 50%, colorr 50%)
  background-size: 200%
  background-position: 0 0
  display: display
  transition: time ease-out

  &:hover
    background-position: -100% 0

    if elevate
      box-shadow: rgba(0,0,0,.4) .1em .4em 1em
      transform: scale(1.2)


/////////////////////////////////////////////////////////////////////////////////////////
// BODY /////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

body
  margin: 0
  background: white
  text-align: center
  font-family: $sans-serif

  +mobile()
    font-size: 1.5em

.js
  height: 100%
  width: 100%
  overflow: hidden
  position: relative

  .content
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: auto

a, a:visited
  color: inherit
  text-decoration: none

*
  box-sizing: border-box
  transition: outline-color .4s ease-out
  outline: #D32F2F auto 0

  &:focus
    outline: #FFA726 auto 2px

  outline: none!important

p, h1, h2, h3, h4, h5, h6
  text-align: justify
  font-weight: 400


/////////////////////////////////////////////////////////////////////////////////////////
// SECTION STYLE ////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

section
  background: #d3d3d3
  box-shadow: inset rgba(0,0,0,.2) 0 10px 20px

  +dark()
    background: #3d3d3d
    box-shadow: inset rgba(0,0,0,.2) 0 10px 20px

  width: 100%
  margin: 0
  min-height: 100vh
  text-align: center
  display: block
  cursor: default
  position: relative
  padding-bottom: 3em

  &.smaller
    min-height: 25vh

  & > .section-content
    display: inline-block
    height: 100%
    width: 100%
    max-width: 900px
    text-align: start
  
  &:first-of-type, &:nth-of-type(2)
    box-shadow: none

h1
  font-size: 3em

.subsection
  display: block
  text-align: inherit
  max-width: none

  & > *
    max-width: 800px
    display: inline-block
    width: 100%


/////////////////////////////////////////////////////////////////////////////////////////
// ARROW ////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

.arrow-wrapper
  width: 100%!important
  max-width: none
  text-align: center
  bottom: 0
  position: absolute!important

.arrow
  transition: all .3s ease-in-out
  opacity: .8
  animation: bounce 1s ease-in-out
  cursor: pointer
  width: auto
  display: inherit
  margin-bottom: 0

  @keyframes bounce
    0%
      margin-bottom: 0
    25%
      margin-bottom: 12px
    50%
      margin-bottom: 0
    75%
      margin-bottom: 12px
    100%
      margin-bottom: 0

  &:hover
    opacity: 1
    margin-bottom: 10px

  & polyline
    fill: none
    stroke: #777
    stroke-width: 1px

  +mobile()
    transform: scale(2)


/////////////////////////////////////////////////////////////////////////////////////////
// SCROLLBAR ////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

.scrollbar
  z-index: 100
  position: fixed
  height: 80%
  top: 10%
  left: 10%
  bottom: 10%
  text-align: center
  width: 2em

  --track-color: #333
  --thumb-color: #333

  +dark()
    --track-color: #777
    --thumb-color: #999

  .track
    background: var(--track-color)
    display: inline-block
    left: 1.25em
    height: 100%
    width: .1em
    position: absolute
    z-index: 100
  
  .thumb
    background-color: var(--thumb-color)
    position: absolute
    display: inline-block
    width: .5em
    height: 10%
    z-index: 101
    cursor: pointer

    &:hover
      width: 1em
      left: .75em
  
  .sections
    color: var(--thumb-color)
    transform: rotate(-90deg)
    transform-origin: left top
    text-transform: uppercase
    font-weight: 700
    text-align: end

    margin-left: -1.5em
    margin-top: 9.1em
    height: 1.1em
    width: 9em

    overflow-x: hidden
    overflow-y: visible

    @keyframes first-fadein
      from
        margin-top: 0
      to
        margin-top: -1.3em

    .first
      display: block
      margin-top: 0

    &.transitioning
      .first
        animation: first-fadein .3s
