@import 'jeet'
@import 'axis'


/////////////////////////////////////////////////////////////////////////////////////////
// VARIABLES ////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

$black = black
$sans-serif = 'Open Sans', 'Segoe UI', 'Roboto', sans-serif

$accent1 = #fdd835
$accent2 = #26c6da
$accent3 = #2ab27b
$accent4 = #e32072


/////////////////////////////////////////////////////////////////////////////////////////
// FUNCTIONS ////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

landscape()
    @media (min-aspect-ratio: 1/1)
        {block}

portrait()
    @media (max-aspect-ratio: 1/1)
        {block}

mobile()
    @media (max-width: 1000px) and (max-aspect-ratio: 1/1)
        {block}


/////////////////////////////////////////////////////////////////////////////////////////
// ANIMATIONS ///////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

@keyframes slide-in-bottom
  0%
    transform: translateY(1000px)
    opacity: 0
  100%
    transform: translateX(0)
    opacity: 1

$slide-in-bottom = slide-in-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both


/////////////////////////////////////////////////////////////////////////////////////////
// COMMON ///////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

.accent-1
  color: $accent1
.accent-2
  color: $accent2
.accent-3
  color: $accent3
.accent-4
  color: $accent4

body
  margin: 0
  width: 100%
  min-height: 100%
  background: white
  text-align: center
  font-family: $sans-serif

  +mobile()
    font-size: 1.6em

.wrapper
  width: 100%

a, a:visited
  color: inherit
  text-decoration: none

*
  box-sizing: border-box
  transition: outline-color .4s ease-out
  outline: #D32F2F auto 0

  &:focus
    outline: #FFA726 auto 2px
