@import 'common.styl'

nav
  height: 10vh
  background: black
  overflow: hidden
  position: fixed
  width: 100%
  top: 0

  a
    height: inherit

    &:hover .circle
      transform: scale(6)
      background: #333

  .circle
    width: 15vh
    height: 15vh
    background: black
    border-radius: 100%
    display: inline-block
    transition: all .5s ease-in-out
    margin-top: -5vh
    z-index: 0

  img
    height: inherit
    padding: 1em
    position: absolute
    transform: translateX(-50%)
    z-index: 1

body:nth-child(2)
  margin-top: 12vh

.hero
  center()
