@import 'jeet'
@import 'mixins'

$wide = '(min-width: 1650px)'
$unwide = '(max-width: 1650px)'
$portrait = '(orientation: portrait)'
$landscape = '(orientation: landscape)'

body, html
    margin: 0
    background: linear-gradient(#06061c, #06061c, #06061c, #0d212e, #18342f)

    & > div
        center(1600px)
        width: 90%

h1, h2, h3
    font-family: 'Open Sans', 'Segoe UI', sans-serif
    font-weight: lighter
    margin: 0
    color: white

h1.title, h2.title
    img
        width: 1em
        margin-bottom: -.15em
        margin-right: .1em

svg.strokes
    margin: 0
    z-index: 0
    position: absolute
    width: 100%
    height: 200%
    opacity: .7

.hero
    outline: none
    color: white
    top: 0
    left: 0
    height: 100vh
    background-image: url(img/bg.svg)

    .header
        z-index: 1
        width: auto
        margin: 50px 0 0 0

        h1
            font-size: 6em

    .introduction
        font-family: 'Georgia', serif
        max-width: 40em
        font-size: 1.6em
        font-style: italic
        margin: 0

.slides
    margin-top: 50px
    color: white
    font-family: 'Open Sans', 'Segoe UI', sans-serif
    font-size: 1.7em

    & > section
        min-height: 100vh
        outline: none

    h2
        font-size: 2.2em

.footer
    bottom: 0
    height: 40vh
    width: 100%
    z-index: 2
    padding: 2em 0
    outline: none

    h3
        font-size: 1.6em
        margin: .2em 0 0 .5em

    ul
        padding-left: 1.5em

    li
        list-style: none
        text-decoration: none

        a::before
            content: '>'
            margin-right: .3em
            opacity: .8
            transition: all .2s ease-out

        a:hover::before
            margin-right: 0
            opacity: 1

        a, a:hover, a:visited
            color: white
            font-size: 1.2em
            font-family: 'Open Sans', 'Segoe UI', sans-serif
            text-decoration: none

            p
                text-decoration: underline
                display: inline



    & > div
        height: 100%
        background-color: rgba(0,0,0,.4)

    .links
        col(1/4)

    .contact
        col(1/4)

    .box
        col(1/2)

        p
            margin: 0.4em 0.6em
            color: white
            font-size: 1.2em
            font-family: 'Open Sans', 'Segoe UI', sans-serif

.notice
    width: 100%
    padding: .5em 0
    color: #fff
    background-color: rgba(0,0,0,0.4)
    text-align: center
    font-family: monospace
    margin-bottom: 2em

nav
    text-align: center
    position: fixed
    height: 100%
    width: 10vh
    top: 40vh

    @media $unwide
        width: 50px

    & > div
        border-radius: 12px
        border: 2px solid white
        text-align: center
        display: inline-block
        cursor: pointer
        margin-bottom: 1vh
        overflow: hidden

        &.small
            width: 8px
            height: 8px
        &.big
            width: 12px
            height: 12px

        & div
            height: 100%
            width: 100%
            background-color: white
            transform: scale(0)
            transition: transform .4s ease-out

        &.selected div
            transform: scale(1)

.nojs
    & > nav
        display: none
