doctype html

html(lang='en')
  head
    title= title
    if dev
        script(src='http://localhost:35729/livereload.js?snipver=1')
    
    style
      :stylus
        @import 'jeet'
        body
            margin 0
            center()
        h1
            font-size 50px
    
    script
      :babel
        // animate hero here
        setInterval(() => {
          console.log('change hero image');
        }, 1500);

  body
    .hero
      .header
        h1= title
      .intro
        p= intro
        
    .me
      .design
        .experience
          
        .abilities
        
      .coding
        .experience
        
        .abilities
        
    .madebyme
      .nucleus
      .albion
      
    .footer
      .links
      .contact
