doctype html

html
  head
    title= title
    
    style
      :stylus
        @import 'jeet'
      
        body
          center()
      
        h1
          font-size 50px
    
    script
      :babel
      
        // animate hero here
        setInterval(() => {
          console.log('change hero image');
        }, 1500);
        
  body
    .hero
      .header
        h1= title
      .intro
        p= intro
        
    .me
      .design
        .experience
          
        .abilities
        
      .coding
        .experience
        
        .abilities
        
    .madebyme
      .nucleus
      .albion
      
    .footer
      .links
      .contact
