doctype html

include ./mixins.jade
html(lang='en')
  head
    title= title
    if dev
        script(src='http://localhost:35729/livereload.js?snipver=1')
    
    link(rel='stylesheet', href='app.css')
    script(src='app.js')

  body
    .hero
      .header
        h1= title
    
    +skewedArea(0)
      .intro
        p= intro
        
    .me
      .design
        .experience
          
        .abilities
        
      .coding
        .experience
        
        .abilities
        
    .madebyme
      .nucleus
      .albion
      
    .footer
      .links
      .contact
