@import 'node_modules/jeet/styl'

landscape()
    @media (min-aspect-ratio: 1/1)
        {block}

portrait()
    @media (max-aspect-ratio: 1/1)
        {block}

mobile()
    @media (max-width: 1000px) and (max-aspect-ratio: 1/1)
        {block}

$violet = #9c27b0
$blue   = #03a9f4
$yellow = #ffc107
$green  = #4caf50
$pink   = #ff25da


/////////////////////////////////////////////////////////////////////////////////////////
// MAIN /////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

body
  margin: 0
  width: 100%
  min-height: 100%
  background: white
  text-align: center
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', sans-serif

  &.disabledjs
    .js
      display: none
  &:not(.disabledjs)
    .nojs
      display: none

  +mobile()
    font-size: 1.6em

.wrapper
  width: 100%

a, a:visited
  color: inherit

*
  box-sizing: border-box
  transition: outline-color .4s ease-out
  outline: #D32F2F auto 0

  &:focus
    outline: #FFA726 auto 2px

p, h1, h2, h3, h4, h5, h6
  text-align: justify
  font-weight: 400

section
  width: 100%
  margin: 0
  min-height: 30vh
  text-align: center
  display: block
  overflow: hidden

  & > *
    max-width: 1400px
    display: inline-block

/////////////////////////////////////////////////////////////////////////////////////////
// HEADER ///////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

section.header
  background-color: #111
  min-height: 100vh

  *
    position: absolute

  img
    max-width: 80px
    margin-top: 50vh
    margin-bottom: 30vh
    transform: translateY(-50%)
    z-index: 3

  .conversation
    center()
    border-top: #333 1px solid
    width: 100%
    margin-top: 3em

    #userinput
      $inputheight = 2em

      margin-top: -1em
      margin-left: 5%
      padding: 0 1.2em
      background: black
      position: absolute

      #message, #send
        border: none
        padding: 0 .8em
        font: 1em lighter
        font-family: 'Segoe UI', sans-serif
        height: $inputheight
        line-height: $inputheight
        vertical-align: middle

      #message
        width: 14em
        background: #222
        padding-bottom: 1px
        color: #eee

        &:focus
          background: #eee
          color: #222

      #send
        font-weight: bold
        background: $pink
        color: white
        margin-left: .3em
        opacity: .9
        transition: opacity .2s ease

        &:disabled
          opacity: .5

        &:not(:disabled):hover, &:not(:disabled):focus
          opacity: 1

    #messages
      margin: 5em 0 2em 0
      max-height: 81vh
      overflow-y: auto
      overflow-x: hidden
      center(900px)

      $sentColor = #da49c1
      $receivedColor = #636363

      &::-webkit-scrollbar
        width: 10px
      &::-webkit-scrollbar-track
        background: transparent
      &::-webkit-scrollbar-thumb
        background-color: #111
        border-radius: 5px
        border: 2px solid #000

        &:hover
          border: 0px solid #000
        &:active
          background-color: #222

        div
          display: inline-block
          width: 100%
          position: relative
          margin-bottom: 1em
          animation: fadeIn .5s ease

          @keyframes fadeIn
            from
              opacity: 0
            to
              opacity: 1

            p
              margin: 0
              padding: .8em
              max-width: 50%
              text-align: justify

            &:before, &:after
              width: 0
              height: 0
              position: absolute
              display: block

        .sent
          margin-left: .5em

          &:first-of-type
            margin-top: 1em

          & p
            float: left
            background: $sentColor

          &:before
            content: ''
            border-right: 1em solid transparent
            border-bottom: .5em solid $sentColor
            top: -.5em
            left: 0

        .received
          margin-left: -1em

          & p
            float: right
            background: $receivedColor

          &:after
            content: ''
            border-left: 1em solid transparent
            border-top: .5em solid $receivedColor
            bottom: -.5em
            right: 0

          .loading
            opacity: .8


/////////////////////////////////////////////////////////////////////////////////////////
// BLOG /////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

section.blog
  min-height: 10vh

  & > div
    width: 100%
    max-width: none

    +landscape()
      min-height: 30vh
    +portrait()
      min-height: 50vh

  .insider
    background-color: $yellow

  .albion
    background-color: $blue

  .subscape
    background-color: $green

/////////////////////////////////////////////////////////////////////////////////////////
// PROJECTS /////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

section.projects
  min-height: 80vh

  & > div
    width: 100%
    max-width: none

    +landscape()
      min-height: 30vh
    +portrait()
      min-height: 50vh

  .insider
    background-color: $yellow

  .albion
    background-color: $blue

  .subscape
    background-color: $green


/////////////////////////////////////////////////////////////////////////////////////////
// FOOTER ///////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

section.footer
    background-color: #000
    color: white
    min-height: 20vh

    @media (max-width: 1000px)
        font-size: 1.5em

    .icon
        box-sizing: content-box
        transition: transform .4s ease, opacity .4s ease
        max-width: 32px
        padding: .5em
        margin: 1em .5em
        opacity: .9

        &:hover
            transform: scale(1.2)
            opacity: 1
